body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(110, 110, 146);
}

.container {
    max-width: 1400px;
    max-height: 1200px;
    margin: 0 auto;
    background-color: rgb(194, 164, 200);
    gap: 20%;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(237, 237, 231);
    margin-top: 30px;
}

th, td {
    padding-top: 20px;
    bottom: 50px;
    border-bottom: 1px solid #c80bf3;
}

button {
    margin-top: 10px;
    background-color: rgb(186, 172, 213);
    border-radius: 10px;
    height: 5vh;
    width: 200px;
    
}
button:hover{
    background-color: #d776ed;
}

.filter-container {
    /* margin-bottom: 20px; */
    background-color: rgb(232, 218, 235);
    margin-top: 30px;
    padding-bottom: 10px;
}
/* #date{ */
    /* gap: 20px; */
/* } */
input{
    border-radius: 10px;
    height: 5vh;
    margin-top: 20px;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 60px;
}
#Landing-body{
    background-color: #9e87a2;
}
#landingPage-text{
    display: flex;
    gap: 10%;
    color: aliceblue;
    justify-content: center;
    padding: 150px;
}
p{
    font-size: 30px;
}
b{
    font-size: 60px;
    color: rgb(245, 245, 247);
}
#GetStartedButton{
    color: aliceblue;
    border: none;
    background-color: #21213e;
}
img{
    height: 40vh;
}

